{
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./src"
				],
				"alias": {
					"assets": "./src/assets",
				}
			}

			
		],
		[
			"module:react-native-dotenv"
		],
		[
			"react-native-reanimated/plugin",
		]
	]
}