<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>smartAcademyTaskOne</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HKGrotesk-Black.ttf</string>
		<string>HKGrotesk-Black.woff</string>
		<string>HKGrotesk-Black.woff2</string>
		<string>HKGrotesk-Bold.ttf</string>
		<string>HKGrotesk-Bold.woff</string>
		<string>HKGrotesk-Bold.woff2</string>
		<string>HKGrotesk-BoldItalic.ttf</string>
		<string>HKGrotesk-BoldItalic.woff</string>
		<string>HKGrotesk-BoldItalic.woff2</string>
		<string>HKGrotesk-BoldLegacy.ttf</string>
		<string>HKGrotesk-BoldLegacy.woff</string>
		<string>HKGrotesk-BoldLegacy.woff2</string>
		<string>HKGrotesk-BoldLegacyItalic.ttf</string>
		<string>HKGrotesk-BoldLegacyItalic.woff</string>
		<string>HKGrotesk-BoldLegacyItalic.woff2</string>
		<string>HKGrotesk-ExtraBold.ttf</string>
		<string>HKGrotesk-ExtraBold.woff</string>
		<string>HKGrotesk-ExtraBold.woff2</string>
		<string>HKGrotesk-Italic.ttf</string>
		<string>HKGrotesk-Italic.woff</string>
		<string>HKGrotesk-Italic.woff2</string>
		<string>HKGrotesk-LegacyItalic.ttf</string>
		<string>HKGrotesk-LegacyItalic.woff</string>
		<string>HKGrotesk-LegacyItalic.woff2</string>
		<string>HKGrotesk-Light.ttf</string>
		<string>HKGrotesk-Light.woff</string>
		<string>HKGrotesk-Light.woff2</string>
		<string>HKGrotesk-LightItalic.ttf</string>
		<string>HKGrotesk-LightItalic.woff</string>
		<string>HKGrotesk-LightItalic.woff2</string>
		<string>HKGrotesk-LightLegacy.ttf</string>
		<string>HKGrotesk-LightLegacy.woff</string>
		<string>HKGrotesk-LightLegacy.woff2</string>
		<string>HKGrotesk-LightLegacyItalic.ttf</string>
		<string>HKGrotesk-LightLegacyItalic.woff</string>
		<string>HKGrotesk-LightLegacyItalic.woff2</string>
		<string>HKGrotesk-Medium.ttf</string>
		<string>HKGrotesk-Medium.woff</string>
		<string>HKGrotesk-Medium.woff2</string>
		<string>HKGrotesk-MediumItalic.ttf</string>
		<string>HKGrotesk-MediumItalic.woff</string>
		<string>HKGrotesk-MediumItalic.woff2</string>
		<string>HKGrotesk-MediumLegacy.ttf</string>
		<string>HKGrotesk-MediumLegacy.woff</string>
		<string>HKGrotesk-MediumLegacy.woff2</string>
		<string>HKGrotesk-MediumLegacyItalic.ttf</string>
		<string>HKGrotesk-MediumLegacyItalic.woff</string>
		<string>HKGrotesk-MediumLegacyItalic.woff2</string>
		<string>HKGrotesk-Regular.ttf</string>
		<string>HKGrotesk-Regular.woff</string>
		<string>HKGrotesk-Regular.woff2</string>
		<string>HKGrotesk-RegularLegacy.ttf</string>
		<string>HKGrotesk-RegularLegacy.woff</string>
		<string>HKGrotesk-RegularLegacy.woff2</string>
		<string>HKGrotesk-SemiBold.ttf</string>
		<string>HKGrotesk-SemiBold.woff</string>
		<string>HKGrotesk-SemiBold.woff2</string>
		<string>HKGrotesk-SemiBoldItalic.ttf</string>
		<string>HKGrotesk-SemiBoldItalic.woff</string>
		<string>HKGrotesk-SemiBoldItalic.woff2</string>
		<string>HKGrotesk-SemiBoldLegacy.ttf</string>
		<string>HKGrotesk-SemiBoldLegacy.woff</string>
		<string>HKGrotesk-SemiBoldLegacy.woff2</string>
		<string>HKGrotesk-SemiBoldLegacyItalic.ttf</string>
		<string>HKGrotesk-SemiBoldLegacyItalic.woff</string>
		<string>HKGrotesk-SemiBoldLegacyItalic.woff2</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>hk_grotesk_bold.ttf</string>
		<string>hk_grotesk_medium.ttf</string>
		<string>hk_grotesk_regular.ttf</string>
		<string>hk_grotesk_semibold.ttf</string>
	</array>
</dict>
</plist>
